[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lugq
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lugq
	label-Verified = -1..+1 group user/lugq
	push = group user/lugq
	read = group user/lugq
	rebase = group user/lugq
	removeReviewer = group user/lugq
	submit = group user/lugq
[access "refs/heads/*"]
	create = group user/lugq
	push = +force group user/lugq
	pushMerge = group user/lugq
	read = group user/lugq
[access "refs/tags/*"]
	push = group user/lugq
	push = +force group user/lugq
